body{
    margin: 0;
    padding: 0;
}
#nav{
    background-color: #1F156E;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
#left, #right{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
#left{
    display: flex;
    list-style-type:none ;
    align-items: center;
    justify-content: space-between;
    
}
#left li{
    padding: 0px 5px;
    font-size: 25px;
    
    
}
#left li a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

#right button,#sign-up-form button {
    margin: 15px;
width: 100px;
height: 40px;
background-color: aliceblue;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
}


#sign-up-area{
    width: 80%;
    background-color:rgba(0, 0, 0, 0.5); 
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
}
#sign-up-form input{
    width: 90%;
    margin: 10px 0;
    border: none; 
    height: 30px;
}

img{
    width: 100%;
    height: 500px;
    
    
    
}
#big-div {
    position: relative;
    display: inline-block;
    width: 100%;
}

.slide , .slide-2, .slide-3{
    width: 100%;
    height: 400px;

}

#sign-up-area{
    width: 55%;
    background-color:rgba(0, 0, 0, 0.5); /*alpha 0-1*/
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
}

.w3-container{
    width: 100%;
    text-align: center;

}

#input{
    display: flex;
    position: absolute;
    padding: 10px;
    top: 50px;
    width: 100%;
    height: 40px;
    bottom: 1000px;
    flex-direction: column;
    padding-left: 10%;
}
.noidung{
    text-align: center;
    width: 100%;
    height: 90px;
    margin-bottom: 0%;
}
#search-input{
    width: 40%;
    padding: 10px;
    align-items: flex-start;
    font-size: 20px;

}
#footer{
    display: flex;
    justify-content: space-around;
    background-color: #06344c;
 }
 #footer-info h1{
     font-size: 50px;
     color: #b4b8ce;
 }
 #footer-icon i{
     font-size: 40px;
     margin: 0 5px;
     color: #b4b8ce;
 
 }
 #footer-map{
     margin: 10px 0 ;
 }

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
    }
.product-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    color: blue;
    
}
.product-view{
    display: flex;
    justify-content: space-around;
    
}
.products-footer {
    display: flex;
    justify-content: space-between;
    color: blue;
    
}




